body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-blend-mode: overlay;
    color: white;
    overflow: hidden;
}


form {
    display: flex;
    flex-direction: column;
    padding: 30px 70px 30px 221px;
    background: #1F282C;
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);

    .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;

        .error-message {
            color: red;
            font-size: 10px;
            margin-bottom: 5px;
        }
    }

    .g-recaptcha {
        margin: 10px 0;
    }

    label {
        font-size: 18px;
        display: inline-block;
        margin-bottom: 5px;
    }

    input,
    textarea {
        width: 400px;
        padding: 10px;
        border: 1px solid rgba(200, 200, 200, 0.7); // Change border color
        background-color: rgba(223, 222, 222, 0.9); // Change input background
        color: #333; // Change text color
        border-radius: 5px;
        margin-bottom: 10px;
    }

    input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    input[type="submit"]:hover {
        background-color: #45a049;
    }
}

@media (max-width: 600px) {
    body {
        justify-content: center;
    }

    section {
        width: 85%;
    }

    form {
        padding: 20px;
        width: 100%;

        input,
        textarea {
            width: 100%;
        }
    }
}



@media (max-width: 1400px) and (orientation: landscape) {
    body {
        justify-content: center;
    }

    section {
        width: 60%;
    }

    form {
        width: 100%;

        input,
        textarea {
            padding: 5px;
            margin-bottom: 5px;
            width: 100%;
        }
    }
}