@import url("https://fonts.googleapis.com/css2?family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&display=swap");

.site-title {
    position: fixed;
    top: 4%;
    left: 2%;
    font-family: "Montserrat Underline", sans-serif;
    font-weight: 500;
    z-index: 500;
    font-size: 2.5rem;
    color: #030303;
}

.slider {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;

    .slide {
        //min-height: 75vh;
        .slides {
            .box {
                display: none;

                &.displaySlide {
                    display: block;
                    animation-name: fade;
                    animation-duration: 1.5s;
                }

                a {
                    text-align: center;
                    position: absolute;
                    top: 45%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-decoration: none;
                    color: #BFA252;
                    font-family: "Ubuntu", serif;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 35px;
                    text-transform: uppercase;

                    // Pseudo-elemento per la sottolineatura
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: -2px; // Distanza dalla base del testo
                        width: 100%;
                        height: 2px; // Spessore della sottolineatura
                        background-color: #BFA252; // Colore della sottolineatura
                        transform: scaleX(0); // Nasconde inizialmente la sottolineatura
                        transform-origin: left;
                        transition: transform 0.3s ease; // Animazione per l'hover
                    }

                    &:hover::after {
                        transform: scaleX(1); // Mostra la sottolineatura al passaggio del mouse
                    }
                }
            }

            img {
                height: 100vh;
                width: 100vw;
                object-fit: cover;
                animation: zoomIn 15s infinite alternate;
            }
        }
    }

    button {
        position: absolute;
        top: 45%;
        transform: translateY(-45%);
        font-size: 1.5rem;
        background-color: hsla(0, 0%, 0%, 0.049);
        color: white;
        border: none;
        cursor: pointer;
        padding: 10px 15px;
    }

    .prev {
        left: 0;
    }

    .next {
        right: 0;
    }

    @keyframes fade {
        from {
            opacity: .5
        }

        to {
            opacity: 1
        }
    }

    @keyframes zoomIn {
        from {
            transform: scale(1); // Dimensione attuale
        }
        to {
            transform: scale(1.1); // Leggero ingrandimento
        }
    }
}



// Adjust styles for smaller portrait screens
@media (max-width: 1000px) and (orientation: portrait) {  
    .slider {
        .slide {
            .slides {
                .box {
                    a {
                        font-size: 25px; // Adjusted for better readability
                        color: #ffffff;
                    }
                }
            }
        }
    }
    .site-title {
        font-size: 1.5rem;
    }
    img {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        object-position: center;
    }
}

@media (max-width: 1000px) and (orientation: landscape) {
    .slider .slide .slides img {
        height: 100vh;
    }
    .site-title {
        font-size: 1.5rem;
    }
}
